IO_LOC "clk" 52;
//IO_LOC "rst" 4;
IO_LOC "mode" 3;
IO_PORT "mode" PULL_MODE=UP;


IO_LOC  "Abtn" 69;
IO_PORT "Abtn" PULL_MODE=UP;
// IO_LOC  "Bbtn" 68;
IO_LOC  "Bbtn" 68;
IO_PORT "Bbtn" PULL_MODE=UP;
IO_LOC  "btn[0]" 38;    // right
IO_PORT "btn[0]" PULL_MODE=UP;
IO_LOC  "btn[1]" 37;    // up
IO_PORT "btn[1]" PULL_MODE=UP;
IO_LOC  "btn[2]" 27;    // down
IO_PORT "btn[2]" PULL_MODE=UP;
IO_LOC  "btn[3]" 28;    // left
IO_PORT "btn[3]" PULL_MODE=UP;


//IO_LOC "btn[0]" 3;

/*
IO_LOC  "btn[0]" 31;
IO_PORT "btn[0]" PULL_MODE=UP;
IO_LOC  "btn[1]" 79;
IO_PORT "btn[1]" PULL_MODE=UP;
*/

IO_LOC "low1"  36
IO_LOC "low2"  57  
//IO_LOC "low3"  56  

//IO_LOC "high" 32,85,84,83;

//IO_LOC "leds[0]" 32;

/*
IO_LOC "led[0]" 74;
IO_LOC "led[1]" 34;
IO_LOC "led[2]" 40;
IO_LOC "led[3]" 71;
IO_LOC "row" 70;
*/
IO_LOC "col[0]" 74;
IO_LOC "col[1]" 34;
IO_LOC "col[2]" 40;
IO_LOC "col[3]" 71;
IO_LOC "col[4]" 41;
IO_LOC "col[5]" 72;
IO_LOC "col[6]" 76;
IO_LOC "col[7]" 77;

IO_LOC "row[0]" 70;
IO_LOC "row[1]" 75;
IO_LOC "row[2]" 51;
IO_LOC "row[3]" 73;
IO_LOC "row[4]" 30;
IO_LOC "row[5]" 42;
IO_LOC "row[6]" 33;
IO_LOC "row[7]" 35;

IO_LOC "leds[0]" 10;
IO_LOC "leds[1]" 11;
IO_LOC "leds[2]" 13;
IO_LOC "leds[3]" 14;
IO_LOC "leds[4]" 15;
IO_LOC "leds[5]" 16;
